* {
	margin: 0;
	padding: 0;
}

html {
	position: relative;
	font: 16px Arial, sans-serif;
}
h3 {
	padding: 10px 0;
	text-align: center;
}
p {
	padding-bottom: 20px;
}

.marked {
	background: #FFEB3B;
}

.label {
	position: absolute;
	top: 0;
	left: 0;
	display: none;
	width: 200px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	border: 1px solid #565656;
	background: #E4E4E4;
	     box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.control-buttons {
	display: none;
	margin: -100px 0 0 -100px;
	position: absolute;
	z-index: 10;
	height: 200px;
	width: 200px;
	top: 50%;
	left: 50%;
}
	.control-buttons div {
		position: absolute;
		height: 64px;
		width: 64px;
		line-height: 64px;
		text-align: center;
		font-size: 30px;
		cursor: pointer;
		border: 1px solid #01579B;
		background: #E1F5FE;
	}
	.control-buttons div:hover {
		background: #03A9F4;
	}
	.button-up {
		top: 0;
		left: 50%;
		margin-left: -33px;
	}
	.button-right {
		right: 0;
		top: 50%;
		margin-top: -33px;
	}
	.button-down {
		bottom: 0;
		left: 50%;
		margin-left: -33px;
	}
	.button-left {
		left: 0;
		top: 50%;
		margin-top: -33px;
	}

.menu {
	margin: 50px auto;
	width: 960px;
	height: 40px;
}
	.menu ul {
		list-style: none;
	}
	.menu li {
		float: left;
	}
	
	.menu a {
		display: block;
		width: 106px;
		width: calc(960px / 9);
		height: 40px;
		line-height: 40px;
		text-decoration: none;
		text-align: center;
		color: #9E9E9E;
		font-size: 18px;
		border-top:    1px solid #9E9E9E;
		border-bottom: 1px solid #9E9E9E;
		border-left:   1px solid #9E9E9E;
		     box-sizing: border-box;
		-moz-box-sizing: border-box;
	}
	.menu li:last-child a {
		border-right: 1px solid #9E9E9E;
	}
	.menu a:hover {
		background: #FAFAFA;
		color: #616161;
	}
	.menu-tabs a {
		border-top:  1px solid transparent;
		border-left: 1px solid transparent;
	}
	.menu-tabs li:last-child a:not(.active) {
		border-right: none;
	}

	.menu-tabs a.active {
		border-top:    1px solid #9E9E9E;
		border-right:  1px solid #9E9E9E;
		border-left:   1px solid #9E9E9E;
		border-bottom: 1px solid #F5F5F5;
		background: #F5F5F5;
		color: #212121;
	}

.text {
	margin: 50px auto 0 auto;
	width: 960px;
}
	.text img {
		display: block;
		margin: 0 auto;
	}


